//-include mixins
//-include ./helpers/userpic
//-include ./helpers/svg-icon
//-include ./helpers/inputs
//-include ./blocks/meta
//-include ./blocks/socials
//-include ./blocks/menu
//-include ./blocks/forms

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		//- favicon block start
		//- favicon block end
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet" href=`/assets/css/foundation${suffix}.css${version}`)
		link(rel="stylesheet" href=`/assets/css/app${suffix}.css${version}`)

		script(src=`/assets/js/foundation${suffix}.js${version}` defer)
		script(src=`/assets/js/app${suffix}.js${version}` defer)

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
		<![endif]-->

	body
		//-include ./blocks/preloader
		
		.wrapper.content

			.Background
				canvas.Background-canvas

			.content.centerd

				span.authorize.authorize_top#authorize(data-flip-id="login") Авторизоваться

				//-main
					.flip
						.flip__el#login
							+formIndex("flip__front")
							+formLogin("flip__back")

			footer.footer
				.footer__copyright © Елена Куклина | Создано с любовью в LoftSchool | 2017

		script(src="/assets/js/water.js" defer)